.deptPost {
  margin: 40px 0;
}

.deptPost__source {
  font-family: Roboto;
  font-weight: 500;
  color: #939393;
}

.deptPost__title {
  font-size: 2em;
  margin: 20px 0;
}

.deptPost__viewCase {
  color: #1a18f7;
  font-family: Roboto;
  font-weight: 600;
}

.deptPost__viewCase svg {
  transform: rotate(-90deg) scale(1.5);
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .deptPost__title {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 821px) {
  .deptPost {
    margin: 20px 0;
  }
}
