.landingSection {
  background-image: url('./../../../public/Header.jpg');
  padding: 0 60px;
  padding-bottom: 60px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.landingSection__title {
  font-size: 25em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 120px;
}

.landingSection__viewCaseButton {
  color: white;
  background-color: #0e0e0e;
  border: 0;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 1em;
  align-self: flex-end;
}
